PORT=4000
NODE_ENV=development

# 추천 API 일일 호출 제한
RATE_LIMIT_PER_DAY=5

# 날씨
OPENWEATHER_API_KEY=277a15a48d73a66fbb4effea3e33927e

# 장소/지도
KAKAO_REST_API_KEY=d8f7cbc350c2fd8859d76c287dbf200c
GOOGLE_PLACES_API_KEY=AIzaSyB3fdSQgSK0-m4vPg1g9MpNcavLdLEwRYE

# Routes API를 붙일 때 사용
# 같은 Google Cloud 프로젝트의 같은 키를 재사용해도 됩니다.
GOOGLE_ROUTES_API_KEY=your_google_api_key

# 공공 데이터
PUBLIC_DATA_API_KEY=4a517345667470643436644d644365
TOUR_API_KEY=a82452aae1751706da0db1f71631dee2c27c31c4ac70d88c18cd2e3c2a8a5891
TMAP_API_KEY=h35zWp062o3TDzEeyHp2Zakd2H8u6oEK2040s6dj

# AI 요약
ANTHROPIC_API_KEY=your_anthropic_api_key
